:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  
}

@media (min-width: 768px) {
  #main,mainR {
    margin-left: 33% !important;
    padding:0.5%; 
    width: 70%;  
  }
  #sidebarMenu {
    width: 35%;
    position: fixed !important;
    transform: none !important;
    visibility: visible !important;
  }
}
@media (min-width: 1024px) {
  #main,mainR{

    margin-left: 33% !important;
    width: 69%; 
  }
  #sidebarMenu {
    width: 35%;
    position: fixed !important;
    transform: none !important;
    visibility: visible !important;
  }
}
@media (min-width: 1124px) {
  #main,mainR {

    margin-left: 25% !important;
    width: 77%; 
  }
  #sidebarMenu {
    width: 35%;
    position: fixed !important;
    transform: none !important;
    visibility: visible !important;
  }
}
@media (min-width: 1424px) {
  #main,mainR {

    margin-left: 10% !important;
    width: 100%; 
  }
  #sidebarMenu {
    width: 35%;
    position: fixed !important;
    transform: none !important;
    visibility: visible !important;
  }
}

